In [82]:
import pandas as pd

In [83]:
properties = pd.read_csv('alonhadat.csv')
properties.head()

,name,square_meter,bedroom_no,price,street,area,district
0,Cho thuê căn hộ cao cấp vào ở được luôn!! Hot!...,28 m,1 phòng ngủ,6 triệu / tháng,Phố Trần Thái Tông,Phường Dịch Vọng Hậu,Quận Cầu Giấy
1,"CHO NGƯỜI NƯỚC NGOÀI,VIỆT NAM THUÊ CĂN HỘ DỊCH...",40 m,1 phòng ngủ,7 triệu / tháng,Đường Nguyễn Khánh Toàn,Phường Quan Hoa,Quận Cầu Giấy
2,"BQL CHO THUÊ CH TẠI D'.LE PONT D'OR,TÂN HOÀNG ...",68 m,2 phòng ngủ,14 triệu / tháng,Phố Hoàng Cầu,Phường Ô Chợ Dừa,Quận Đống Đa
3,Cho thuê căn hộ 2 phòng ngủ 84m2 tại GoldmarkC...,84 m,2 phòng ngủ,14 triệu / tháng,Đường Hồ Tùng Mậu,Phường Phú Diễn,Quận Bắc Từ Liêm
4,"CHO THUÊ CĂN HỘ CHUNG CƯ, CĂN HỘ DUPLEX KHU VỰ...",90 m,2 phòng ngủ,16 triệu / tháng,Đường Thụy Khuê,Phường Thụy Khuê,Quận Tây Hồ

In [84]:
properties.describe()

,name,square_meter,bedroom_no,price,street,area,district
count,1000,1000,1000,1000,1000,999,992
unique,995,120,9,69,133,75,12
top,"BQL cho thuê căn hộ Hoàng Cầu Skyline, 02-03PN...",70 m,2 phòng ngủ,12 triệu / tháng,Phố Hoàng Cầu,Phường Mỹ Đình 2,Quận Thanh Xuân
freq,3,78,567,127,76,89,200

In [85]:
print(properties.dtypes)

name            object
square_meter    object
bedroom_no      object
price           object
street          object
area            object
district        object
dtype: object

<h4> Cleaning data: <h4>
1. Change dtypes of columns "square_meter", "bedroom_no", "price" into int or float.
2. Check and deal with missing values

<h4>EDA<h4>
1. Check correlation between bedroom_no, square_meter and price
2. Average price per district, area and street
3. Visualizing average price for areas.

In [86]:
properties['price'].unique()

array([' 6 triệu /\xa0tháng', ' 7 triệu /\xa0tháng',
       ' 14 triệu /\xa0tháng', ' 16 triệu /\xa0tháng',
       ' 5 triệu /\xa0tháng', ' 4,2 triệu /\xa0tháng',
       ' 11 triệu /\xa0tháng', ' 4,5 triệu /\xa0tháng',
       ' 5,5 triệu /\xa0tháng', ' 6,5 triệu /\xa0tháng',
       ' 7,5 triệu /\xa0tháng', ' 9 triệu /\xa0tháng',
       ' 10 triệu /\xa0tháng', ' 15 triệu /\xa0tháng',
       ' 12 triệu /\xa0tháng', ' 25 triệu /\xa0tháng',
       ' 9,5 triệu /\xa0tháng', ' 8 triệu /\xa0tháng',
       ' 13,5 triệu /\xa0tháng', ' 18 triệu /\xa0tháng',
       ' 13 triệu /\xa0tháng', ' 23,5 triệu /\xa0tháng',
       ' 19 triệu /\xa0tháng', ' 17 triệu /\xa0tháng',
       ' 12,5 triệu /\xa0tháng', ' 10,5 triệu /\xa0tháng',
       ' 8,5 triệu /\xa0tháng', ' 30 triệu /\xa0tháng',
       ' 11,5 triệu /\xa0tháng', ' 22 triệu /\xa0tháng',
       ' 38 triệu /\xa0tháng', ' 11 ngàn /\xa0tháng',
       ' 23 triệu /\xa0tháng', ' 21 triệu /\xa0tháng', ' 226 ngàn /\xa0m',
       ' 256 ngàn /\xa0m', ' 300 ngàn /\xa0m', ' 272 ngàn /\xa0m',
       ' 280 ngàn /\xa0tháng', ' 302 ngàn /\xa0m',
       ' 14,5 triệu /\xa0tháng', ' 15,5 triệu /\xa0tháng',
       ' 20 triệu /\xa0tháng', ' 60 triệu /\xa0tháng',
       ' 11,6 triệu /\xa0tháng', ' 13,9 triệu /\xa0tháng',
       ' 9,2 triệu /\xa0tháng', ' 32 triệu /\xa0tháng',
       ' 4,3 triệu /\xa0tháng', ' 5,8 triệu /\xa0tháng',
       ' 12,6 triệu /\xa0tháng', ' 35 triệu /\xa0tháng',
       ' 1,5 triệu /\xa0tháng', ' 2,5 triệu /\xa0tháng',
       ' 3 triệu /\xa0tháng', ' 4 triệu /\xa0tháng',
       ' 3,9 triệu /\xa0tháng', ' 28 triệu /\xa0tháng',
       ' 230 ngàn /\xa0m', ' 16,5 triệu /\xa0tháng', ' 9 triệu /\xa0m',
       ' 22,7 triệu /\xa0tháng', ' 27 triệu /\xa0tháng',
       ' 24 triệu /\xa0tháng', ' 29 triệu /\xa0tháng',
       ' 130 triệu /\xa0tháng', ' 26 triệu /\xa0tháng',
       ' 45 triệu /\xa0tháng', ' 65 triệu /\xa0tháng'], dtype=object)

In [87]:
# Transform data in the 3 columns 'square_meter', 'bedroom_no', 'price' so that it can be converted to the correct types.
properties['square_meter'] = properties['square_meter'].apply(lambda x: int(x[:4]))
properties['bedroom_no'] = properties['bedroom_no'].apply(lambda z: z.split()[0])
properties['price'] = properties['price'].apply(lambda y: y.split()[0]+ ' ' + y.split()[1])

In [88]:
properties.head()

,name,square_meter,bedroom_no,price,street,area,district
0,Cho thuê căn hộ cao cấp vào ở được luôn!! Hot!...,28,1,6 triệu,Phố Trần Thái Tông,Phường Dịch Vọng Hậu,Quận Cầu Giấy
1,"CHO NGƯỜI NƯỚC NGOÀI,VIỆT NAM THUÊ CĂN HỘ DỊCH...",40,1,7 triệu,Đường Nguyễn Khánh Toàn,Phường Quan Hoa,Quận Cầu Giấy
2,"BQL CHO THUÊ CH TẠI D'.LE PONT D'OR,TÂN HOÀNG ...",68,2,14 triệu,Phố Hoàng Cầu,Phường Ô Chợ Dừa,Quận Đống Đa
3,Cho thuê căn hộ 2 phòng ngủ 84m2 tại GoldmarkC...,84,2,14 triệu,Đường Hồ Tùng Mậu,Phường Phú Diễn,Quận Bắc Từ Liêm
4,"CHO THUÊ CĂN HỘ CHUNG CƯ, CĂN HỘ DUPLEX KHU VỰ...",90,2,16 triệu,Đường Thụy Khuê,Phường Thụy Khuê,Quận Tây Hồ

In [89]:
properties['bedroom_no'] = properties['bedroom_no'].astype('int32')

In [90]:
print(properties.dtypes)

name            object
square_meter     int64
bedroom_no       int32
price           object
street          object
area            object
district        object
dtype: object

In [104]:
# as there are some rows having different price format, I need to select these rows,  
# try to understand the real price information and correct each of them.
z = properties.loc[properties['price'].str.contains('ngàn')]
correct_price = ['NaN', '18 triệu', '34 triệu','15 triệu','NaN','28 triệu','23 triệu', 'NaN']
z

,name,square_meter,bedroom_no,price,street,area,district
142,"Cho thuê chung cư 90 NGuyễn Tuân, 96m2, 3PN mớ...",96,2,11 ngàn,Đường Nguyễn Tuân,Phường Thanh Xuân Trung,Quận Thanh Xuân
154,"Cần cho thuê CHCC Vinhomes Metropolis, 29 Liễu...",50,1,300 ngàn,Phố Liễu Giai,Phường Ngọc Khánh,Quận Ba Đình
155,Chính chủ cho thuê căn hộ 3PN full đồ giá 34tr,125,3,272 ngàn,Đường Thụy Khuê,Phường Thụy Khuê,Quận Tây Hồ
156,BQL cho thuê CC Vinhomes Metropolis giá tốt nh...,50,1,300 ngàn,Phố Liễu Giai,Phường Ngọc Khánh,Quận Ba Đình
157,Cần cho thuê căn hộ chung cư 1 PN tại Dự án Su...,50,1,300 ngàn,Đường Thụy Khuê,Phường Thụy Khuê,Quận Tây Hồ
158,cho thuê CHCC Vinhome Metropolis 29 Liễu Giai ...,130,3,280 ngàn,Đường Thụy Khuê,Phường Thụy Khuê,Quận Tây Hồ
159,Cho thuê căn hộ 2PN tại Vinhomes Metropolis tò...,76,2,302 ngàn,Đường Thụy Khuê,Phường Thụy Khuê,Quận Tây Hồ
559,Cho thuê Căn hộ dịch vụ tại địa chỉ số nhà 7A...,50,18,230 ngàn,Đường Tô Ngọc Vân,Phường Quảng An,Quận Tây Hồ

In [101]:
# from printing the name of these rows, they give us some ideas of the true price of the property
for row in z['name'].iteritems():
    print(row)

(142, 'Cho thuê chung cư 90 NGuyễn Tuân, 96m2, 3PN mới 100%')
(154, 'Cần cho thuê CHCC Vinhomes Metropolis, 29 Liễu Giai, 50m2, 1PN, full đồ nhập 18tr/th')
(155, 'Chính chủ cho thuê căn hộ 3PN full đồ giá 34tr')
(156, 'BQL cho thuê CC Vinhomes Metropolis giá tốt nhất thị trường từ 15tr/th')
(157, 'Cần cho thuê căn hộ chung cư 1 PN tại Dự án Sun Grand City, Tây Hồ, Hà Nội')
(158, 'cho thuê CHCC Vinhome Metropolis 29 Liễu Giai 130m2, 3PN, giá 28tr/th')
(159, 'Cho thuê căn hộ 2PN tại Vinhomes Metropolis tòa M2 full đồ 76m2, giá 23tr/th.')
(559, 'Cho thuê Căn hộ dịch vụ  tại địa chỉ số nhà 7A ngõ 52-28 Tô Ngọc Vân.')

In [97]:
properties.loc[properties['name'] == 'Cho thuê CH chung cư Sun Grand City Thụy Khuê, 2PN, 93m2, full đồ, giá 22 tr/th.','price'] = '22 triệu'

In [99]:
properties.loc[properties['name'] == 'Cho thuê CHCC Aqua Central 44 Yên Phụ, 117m2, 3 PN full đồ đẹp giá 30tr/tháng','price'] = '30 triệu'